{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-start align-items-center mb-4">
        <h2 class="mr-3">User: {{ user_profile.username }}</h2>
        <p class="text-muted mr-3 mb-0" style="font-size: 0.8rem;">Following: {{ following_count }}, Followers: {{ followers_count }}</p>
        {% if user.is_authenticated %}
            {% if user != user_profile %}
                {% if not following %}
                    <form action="{% url 'network:follow' user_profile.username %}" method="post" class="mb-0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Follow</button>
                    </form>
                {% else %}
                    <form action="{% url 'network:unfollow' user_profile.username %}" method="post" class="mb-0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Unfollow</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <h4>Posts:</h4>
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item" id="post-{{ post.id }}">
            <div id="post-content-{{ post.id }}">
                <p>{{ post.content }}</p>
            </div>
            {% if user == post.user %}
            <button class="edit-button btn btn-secondary" data-post-id="{{ post.id }}">Edit</button>
            <div id="edit-form-{{ post.id }}" class="edit-form" style="display:none;">
                <textarea class="form-control edit-content" id="edit-content-{{ post.id }}">{{ post.content }}</textarea>
                <button class="btn btn-primary save-button" data-post-id="{{ post.id }}">Save</button>
            </div>
            {% endif %}
            <div>
                <small class="text-muted">{{ post.timestamp }}</small>
                <p id="like-count-{{ post.id }}"><strong>{{ post.likes_count }} likes</strong></p>
                {% if user.is_authenticated %}
                <button class="btn like-button {% if post.user_has_liked %}btn-success{% else %}btn-outline-secondary{% endif %}" 
                        data-post-id="{{ post.id }}" data-liked="{% if post.user_has_liked %}true{% else %}false{% endif %}">
                    Like
                </button>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
