.form-group {
    position: relative;
    margin-bottom: 20px;
}

textarea.form-control {
    width: 100%; 
    display: block;
}

.form-group button[type="submit"] {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0;
}